@use 'uswds-core' with (
  $theme-show-notifications: false,
  $theme-image-path: '~/../node_modules/@uswds/uswds/dist/img',
  $theme-font-path: '~/../node_modules/@uswds/uswds/dist/fonts'
);

@forward 'uswds';
