@use 'uswds-core' with (
  $theme-show-notifications: false,
  $theme-image-path: '@uswds/uswds/img',
  $theme-font-path: '@uswds/uswds/fonts' // Customize USWDS theme settings here.
  // For all available options, see
   // https://designsystem.digital.gov/documentation/settings/
);

@forward 'uswds';

// Add custom Sass here.
